body {
    margin: 0px;
 }

.wraper {
    border-color: #d35400;
    background-color: #FFBBE7;
    color: #333333;
    padding: 5px;
    font-family: 'Oxygen', sans-serif;
    font-size: 100%;
    }

.right-col {
    float: right;
    width: 33.33%;
}
.left-col {
    float: left;
    width: 33.33%;
}
.center-col {
    display: flex;
    flex-di: flex;
    flex-direction: column;
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 10px;
   }

.footer {
    grid-area: footer;
}


