body {
    margin: 0px;
 }



.right-col {
    float: right;
    width: 33.33%;
}
.left-col {
    float: left;
    width: 33.33%;
}
.center-col {
    display: flex;
    flex-direction: column;

}

.header {
    text-align: center;
    padding: 1px;
    grid-area: header;
}

.footer {
    grid-area: footer;
}


.container {
    font-family: 'Oxygen', sans-serif;
    border-color: #d35400;
    background-color: #FFFFFF;
    color: #333333;
    padding: 10px;
    font-size: 100%;
}
