body {
    margin: 0px;
}
.mainWraper {
    display: flex;
    /*перенос блоков если не лезет в строку*/
    flex-wrap: wrap;
    /*блоки симетрично разделить*/
    justify-content: space-around;
    border: red 5px solid;
    margin: 0 -15px;
}
.colums {
    display: flex;
    /*перенос блоков если не лезет в строку*/
    flex-wrap: wrap;
    /*блоки симетрично*/
    justify-content: space-around;
    border: black 5px solid;

}
h2{
    display:flex;
    align-items: flex-start;

}

.item{
    display: flex;
    border: #1abc9c 1px solid;
    /*желаемий размер fight for this size*/
    flex-basis: 100px;
    /* ВИРАВНИВАТЬ елем  Флексы выравниваются
     в конце поперечной оси контейнера.*/
    align-items: stretch;
    margin: 0 -2px;

}
.itemgrow{
    flex-grow: 1;
}

/*resize img*/
img{
    max-width: 100%;
}